@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Lobster', display;
	background: #afd1d1;
	padding: 50px;
	font-size: 1.2em;
}
h1{
	text-align: center;
}
.methods{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 20px;
}
.col,
.col2,
.col3,
.col4{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	padding: 30px;
}
.col:nth-child(1){
	background: #439c4e;
}
.col:nth-child(2){
	background: #5a4280;
}
.col:nth-child(3){
	background: #682639;
}
.col:nth-child(4){
	background: #c9a039;
}
.col:nth-child(5){
	background: #000;
}
.method{
	font-size: 1.5em;
	color: white;
}
.w-col{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 49.7%;
	background: black;
	color: white;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	padding: 40px;
	border: 5px dotted white;
	outline: 10px solid rgb(0, 0, 0);
}
.col2{
	background: #863131;
}
.col3{
	background: #287e9d;
}
.col4{
	background: #71568c;
}


